<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RPS</h1>
    <H3> <%= name %> take your pick!</H3>
    <form action="/score" method="post">
        <input id="rock-choice" type="submit" value="rock" name="choice">
        <input id="paper-choice" type="submit" value="paper" name="choice">
        <input id="scissors-choice" type="submit" value="scissors" name="choice">
    </form>
</body>
</html>